.Questions-container {
  width: 100px;
  background-color: #d9eafd;
  border: 1px solid #bcccdc;
  border-radius: 5px;
  cursor: pointer;
  height: 12px;
  margin: 1px;
  padding: 1px;
}

.p_on_questions {
  font-size: xx-small;
}
