/* Ensure the entire page uses flexbox */
html,
/* body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
} */

/* Container for the entire page */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* Ensures the root container spans the full height */
}

/* Main content area */
main {
  flex-grow: 1; /* Ensures content takes up available space */
}

.footer {
  background-color: inherit;
  color: white; /* Text color */
  position: relative;
  width: 100%; /* Full width */
  text-align: center; /* Center align text */
  padding: 4px 0; /* Adjust padding as needed */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px 20px; /* Add some padding for spacing */
}

.footer-content p {
  font-size: 0.85em;
  margin-left: 20px;
}

.footer-links {
  display: flex;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 0.85em;
}

.footer-links a:hover {
  font-weight: 600;
}
