.footer {
  background-color: var(--color6);
  color: white;
  /* padding: 20px 0; */
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.footer-links {
  text-decoration: none;
  color: white;
  font-size: 0.9em;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.footer-links a:hover {
  color: white;
  font-weight: 600;
}
