/* Header container styling */
.header {
  background-color: #5b5c55; /* Background */
  /*background-color: #63696e; !* Silver *!*/
  /* padding: 2rem 0; Padding for spacing */
  text-align: center; /* Center align all content inside header */
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100%;
}

/* Navigation list */
.nav {
  display: flex; /* Arrange items in a row */
  justify-content: center; /* Center the nav items horizontally */
  align-items: center; /* Center the nav items vertically */
  list-style: none; /* Remove default list styling */
  padding: 20; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

/* Navigation items */
.nav-item {
  margin: 0 1rem;
}

/* Navigation links */
.nav-link {
  text-decoration: none; /* Remove default underline */
  color: white; /* Default text color */
  font-size: 0.9rem; /* Adjust font size */
  font-weight: 400;
  /* transition: all 0.3s ease; Smooth hover and focus effects */
}

/* Active link styling */
.nav-link.active {
  /* border-bottom: 1.5px solid lightgray; Underline active link */
  /* padding-bottom: 8px; */
  font-weight: 800; /* Make active link bold */
  color: white; /* Optional: Different color for active link */
  display: inline-block;
}

/* Hover effect */
.nav-link:hover {
  /* border-bottom: 1.5px solid lightgray; Underline active link */
  /* padding-bottom: 8px; */
  display: inline-block;
}
