.header {
  background-color: var(--color6);
  z-index: 10000;
  position: fixed;
  /* top: 0; */
  width: 100%;
  padding: 18px;
  /* padding: 2rem 0; */
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 0.5rem;
}

.nav-right {
  margin-left: auto;
  margin-right: 40px;
  /* padding-right: 25px; */
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 0.9em;
}

.nav-link.active {
  font-weight: 600;
  /* color: var(--color4); */
  /* background-color: var(--color1); */
  border-radius: 2px;
}

.nav-link:hover {
  /* background-color: var(--color1); */
  /* color: var(--color4); */
  color: white;
  /* border-radius: 2px; */
  font-weight: 600;
}
nav h1 {
  margin-right: auto;
}
nav a {
  color: var(--color3);
  padding: 4px 10px;
}
