.my-certificates-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 100vh;
  background-color: var(--color2);
}

.my-certificates-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
  flex-grow: 1;
}

/* Future Exams Section */
.future-exams {
  width: 50%;
  background-color: var(--color2);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  box-sizing: border-box;
  flex-grow: 1;
}

.future-exams h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
  color: var(--color10);
}

.future-exams ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.future-exams li {
  background-color: var(--color12);
  border: 1.5px solid var(--color10);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  color: var(--color1);
}

.future-exams li h2 {
  font-size: 1.7rem;
  font-weight: 750;
  margin-bottom: 20px;
  color: var(--color5);
}

.myfutureexams-description {
  font-size: 0.9rem;
  margin: 0 0 20px;
  color: var(--color1);
}

.myfutureexams-date {
  font-size: 1.2rem;
  margin-top: 20px;
  color: var(--color5);
  font-weight: 500;
}

.future-exams li:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Acquired Certificates Section */
.acquired-certificates {
  width: 50%;
  background-color: var(--color2);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  box-sizing: border-box;
  flex-grow: 1;
}

.acquired-certificates h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
  color: var(--color8);
}

.acquired-certificates ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.acquired-certificates li {
  background-color: var(--color11);
  border: 1.5px solid var(--color9);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.acquired-certificates li:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.acquired-certificates li h2 {
  font-size: 1.7rem;
  font-weight: 750;
  margin-bottom: 20px;
  color: var(--color10);
}

.myacquiredcertificates-description {
  font-size: 0.9rem;
  margin: 0 0 20px;
  color: var(--color1);
}

.myacquiredcertificates-mark {
  font-size: 1.2rem;
  margin-top: 20px;
  color: var(--color10);
  font-weight: 500;
}
.future-exams button {
  background-color: var(--color21); /* Blue button background */
  margin-top: 15px;
  color: var(--color5); /* White text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  padding: 12px 20px; /* Button padding */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 1rem; /* Font size for button text */
  width: 100%; /* Full width for uniformity */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth hover effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.future-exams button:hover {
  background-color: var(--color2); /* Darker blue on hover */
  transform: translateY(-2px); /* Slight lift on hover */
  font-weight: 600; /* Make text bolder on hover */
}
.acquired-certificates button {
  background-color: var(--color10); /* Blue button background */
  margin-top: 15px;
  color: var(--color2); /* White text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  padding: 12px 20px; /* Button padding */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 1rem; /* Font size for button text */
  width: 100%; /* Full width for uniformity */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth hover effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.acquired-certificates button:hover {
  background-color: var(--color4); /* Darker blue on hover */
  transform: translateY(-2px); /* Slight lift on hover */
  font-weight: 600; /* Make text bolder on hover */
}
