.payment-category {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color2);
  height: 100vh;
}

.add-box {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.add-my-box {
  display: flex;
  flex-direction: column;
}

.payment-inner-box {
  margin-bottom: 15px;
}

.add-my-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
/* body {
    background-image: url('https://wallpaperbat.com/img/211864-roadblocks-for-banks-seeking-shared-services-accenture-banking-blog.jpg');
} */
