.question-container {
  background-color: #d9eafd;
  padding: 10px;
  margin: 5px;
  border: 2px solid #bcccdc;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.image {
  width: 640px;
  height: 360px;
  background-color: #9aa6b2;
  border: 2px solid #d9eafd;
  border-radius: 5px;
}
.question {
  border: 2px solid #bcccdc;
  background-color: #d9eafd;
  margin: 2px 0 2px 0;
  border-radius: 5px;
}
.questionText {
  padding-left: 20px;
}
.answer {
  background-color: #bcccdc;
  border: 2px solid #9aa6b2;
  margin: 2px 0 2px 0;
  border-radius: 5px;
}
.answerText {
  padding-left: 20px;
}
