

@media (min-width: 1920px) {
  .body {
    /* width: 1920px; */
    font-size: 1em;
    font-weight: normal;
  }
}

@media (max-width: 1280px) {
  .body {
    /* width: 1280; */
    font-size: medium;
  }
}
:root {
  /* --color1: #f8fafc;
  --color2: #bcccdc;
  --color3: #d9eafd;
  --color4: #9aa6b2;
  --color5: #505861; */
  --color1: #ffffff;
  --color2: #b4b5b0;
  --color21: #9a9c94;
  --color3: #78909c;
  --color4: #2e4854;
  --color5: #182931;
  --color6: #5b5c55;
  --color7: #597785;
}
/* .App {
  max-width: 960px;
  margin: 0 auto;
} */
/* nav {
  display: flex;
  margin: 0 auto 60px;
  gap: 10px;
  align-items: center;
}
nav h1 {
  margin-right: auto;
}
nav a {
  color: #333;
  padding: 4px 10px;
}
nav a.active {
  color: white;
  background: #333;
  text-decoration: none;
} */
